<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- shocking moment!! neon uses js -->
     <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
</head>
<body>
    <h1>Wow u want to do smthing?</h1>
<%
function generateRoadmap(data) {
    console.log(data)
    let str = "";
    if(!data.heartbeats) return "Created -> [ABS NO WHERE]"
    for(let i = 0; i < data.heartbeats.length; i++) {
        const heartbeat = data.heartbeats[i];
        heartbeat.time = new Date(heartbeat.created_at).toISOString().split("T")[0]
        if(heartbeat.status === "sent") {
            str += `<span style="color:green">Sent @ ${heartbeat.time}</span> -> `
        } else if(heartbeat.status === "arrived_at_hq") {
            str += `<span style="color:blueviolet">Arrived at (HQ/middleman) @ ${heartbeat.time}</span> -> `
        } else if (heartbeat.status == "arrived") {
            str += `<span style="color:green">Arrived @ ${heartbeat.time}</span> -> `
        } 
        else {
            str += `<span style="color:red">Heartbeat @ ${heartbeat.time}</span> -> `
        }
    }
    str += " [ end for now ]"
    return str;
}
%>
    <div>
        <h1>Dashboard</h1>
        <p>create mail,, see the status of such mail,, idfk</p>
        <div>
            <h2>lsit of mails ;p</h2>
            <ul>
<% data.forEach((item,index) => { %>
    <hr />

<p><%= item.key %> -- <%= item.value.status %> -- <%= index %></p>
<div>
    <p> Going to <%=item.value.slack_id || "Man idfk" %> -- also known as <%= item.value.name_for_mail %></p>
    <p><b>Roadmap:</b> <%- generateRoadmap(item.value) %></p>
    <br />
    <a href="/heartbeat-from-nice-postal-worker?id=<%=item.key%>">Create heartbeat (instant)</a>
    <br />
    <a href="/middleman/<%=item.key%>">Middleman </a>
    <br />
    <a href="/i-got-mail/<%=item.key%>"> Arrived</a>
    <br />    <br />
    <a href="/sent?id=<%=item.key%>"> Mark as sent (instant)</a>
    <br />
    <a href="/remove/?id=<%=item.key%>"> Remove this</a>
<div>
    <h2>Qr Code Images</h2>
    <div>
        <% for(const img of qrCodes[index]) { %>
            <img src="<%=img%>" />
        <%}%>
    </div>
    <span>middleman, heartbeat, i-got-mail</span>
</div>
</div>
    <%})%>

            </ul>
        </div>
        <br />
       <hr />
        <form action="/create" method="POST" enctype="application/x-www-form-urlencoded">
            <div>
                <label for="slack_id">Slack ID</label>
                <input type="text" name="slack_id" id="slack_id"  />
            </div>
            <br />
            <div>
                <label for="name_for_mail">Name</label>
                <input type="text" name="name_for_mail" id="name_for_mail" required />
            </div>
            <br />
            <div>
                <button type="submit">Create</button>
            </div>
            </form>
    </div>
</body>
</html>